
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: Roboto;
}

body{
    margin: 0;
}

#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height:40px;

}

.artboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.animal{
    height: 125px;
    transition: all 0.2s ease-in-out;
}

.animal_clicked{
    transform: scale(1.2);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
    border: 1px solid black;
}