.artboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.animal{
    height: 125px;
    transition: all 0.2s ease-in-out;
}

.animal_clicked{
    transform: scale(1.2);
}