
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: Roboto;
}

body{
    margin: 0;
}

#container{
    height: 100vh;

    /* background-image: url("./images/background.png");
    background-repeat: no-repeat; 
    background-position: top;
    background-color: rgb(252, 229, 171); */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 10px 0px;
    background-color: rgba(3, 6, 82, 0.864);
    color: pink
}

.artboard {
    /* background-color: white; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.animal{
    height: 125px;
    opacity:0.2;
    transition: all 0.2s ease-in-out;
}

.animal:hover{
    /* Start animation and make it last 5 seconds */
    animation: shake 0.3s;
     /* When the animation is finished, start again */
     animation-iteration-count: 1;
}

/* Code to define the custom function shake */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.animal_jump{
    transform: scale(1.2);
    /* opacity:1.0; */
}

.animal_clicked{
    opacity:1.0;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 10px 0px;
    background-color: rgba(3, 6, 82, 0.864);
    color: pink
}